
.banner{
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  height:450px;
}

.hero{
  /* background-color: blue; */
  background-image: url('images/menstrual-hero_desktop.jpg');
  /* background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  height:450px; */
  display:flex;
}

.hero-text{
  width:25%;
  margin-left:5%;
}

button{
  background-color:coral;
  color: #ffffff;
}

h2{
  font-size:2.5em;
}
.bamboo{
  display:flex;
  justify-content:center;
  align-items:center;
  color:#ffffff;
  background-image: url('images/bamboo_desktop.jpg');
  /* background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  height:450px; */
  margin: 3%;
}

.bamboo-text{
  width:33%;
  color:#ffffff;
  text-align:center
  /* margin-left:5%; */
}

.pad-detail{
  display:flex;
  /* justify-content:center; */
  /* background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  height:450px; */
  margin: 3%;
}

.pad-detail-text{
  width:33%;
  text-align:center;
  align-items:center;

  /* margin-left:5%; */
}

#closeup{
  background-image: url('images/pad_detail_desktop.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  height:450px;
  align-items:center;

}

#hand{
  background-image: url('images/pad_in_hand_desktop.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  height:450px;
  align-items:center;


}