/* *{
  box-sizing:border-box;
} */
.banner{
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  height:450px;
}

.hero{
  background-image: url('images/menstrual-hero_desktop.jpg');
  /* background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  height:450px; */
  display:flex;
}

.hero-text{
  width:25%;
  margin-left:5%;
}

button{
  background-color:coral;
  color: #ffffff;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight:bold;
}

h2{
  font-size:2.5em;
}
.bamboo{
  display:flex;
  justify-content:center;
  align-items:center;
  color:#ffffff;
  background-image: url('images/bamboo_desktop.jpg');
  /* background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  height:450px; */
  margin: 2% 3%;
}

.bamboo-text{
  width:33%;
  color:#ffffff;
  text-align:center;
  /* margin-left:5%; */
}

.pad-detail{
  display:flex;
  margin-top:2%;
  margin-bottom:2%;
}

.pad-detail-text{
  width:35%;
  /* align-items:center; */
  margin-left:5%;

}

#closeup{
  background-image: url('images/pad_detail_desktop.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  height:450px;
  flex:46%;
  /* flex:50%; */
  align-items:center;
  margin-left:3%;
  margin-right:2%;

  display:flex;
}

#hand{
  background-image: url('images/pad_in_hand_desktop.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  height:450px;
  flex:46%;
  /* flex:50%; */
  margin-right:3%;


  align-items:center;

  display:flex;
}

.card-section{
  display:flex;
  margin:3% 2%;
}

.card{
  flex: 25%;
  margin-left:1%;
  margin-right:1%
}

.card p{
  margin-bottom:0;
}

.card h4{
  margin-top:0;
}

.btn-center{
  margin-left:47%;
}

.new{
  margin-top:5%;
  background-image: url('images/new-to-public-goods_desktop.jpg');
  /* background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  height:450px; */
  display:flex;
}

.new-text{
  width:33%;
  margin-left:5%;
}
.faded{
  color: #878585
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 768px) {

  h2{
    font-size:2em;

  }
  .card-section,
  .pad-detail {
    flex-direction: column;
    flex:wrap;
  }

  .banner{
    height: 550px;
  }

  .hero{
    background-image: url('images/menstrual-hero_mobile.jpg');
    height: 550px;
    padding:4% 10%;
    justify-content:center;
  }

  .hero-text{
    width:270px;
    text-align:center;
    margin-top:5%;
    /* display:flex; */
    /* flex-wrap:wrap; */
  }

  .btn-trial{
    margin-top:70%;
    /* margin-bottom: 0; */
    align-self:flex-end;
  }

  .bamboo{

    background-image: url('images/bamboo_mobile.jpg');
    /* background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    height:450px; */
    /* margin: 2% 3%; */
    height:350px;
  }

  .bamboo-text{
    width:80%;
  }

  .pad-detail{
    height:900px;
  }

  .pad-detail-text{
    width:60%;
  }

  #hand .pad-detail-text{
    width:80%;
    text-align:center;
  }
  
  #closeup{
    background-image: url('images/pad_detail_mobile.jpg');
    height: 500px;
  }
  
  #hand{
    background-image: url('images/pad_in_hand_mobile.jpg');
    height: 700px;
    align-items:center;

    /* flex:50%; */
    /* margin-right:3%; */
/*   
    align-items:center;
  
    display:flex; */
  }

  .new{
    /* margin-top:5%; */
    
    background-image: url('images/new-to-public-goods_mobile.jpg');
 
  }




}